<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <properties>
        <property name="logRootDir">../logs</property>
        <property name="layout">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p  [%t] %location - %m%n</property>
        <property name="moduleName">bituniverse</property>
        <property name="outputAppender">Console</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
        <RollingRandomAccessFile name="RollingFile" fileName="${logRootDir}/${moduleName}.log"
                                 filePattern="${logRootDir}/${moduleName}-$${date:yyyy-MM}/${moduleName}-%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="${layout}">
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="${outputAppender}"/>
        </Root>

        <!-- 下面是打印通过log4j2打印出mybatis语句的配置-->
        <logger name="com.xxx.mydao">
            <level>DEBUG</level>
        </logger>
        <logger name="com.springframework">
            <level>DEBUG</level>
        </logger>
        <logger name="com.ibatis" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="com.ibatis.common.jdbc.SimpleDataSource" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="com.ibatis.common.jdbc.ScriptRunner" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="Java.sql.Connection" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="java.sql.Statement" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="java.sql.PreparedStatement" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="java.sql.ResultSet" additivity="true">
            <level>DEBUG</level>
        </logger>
        <logger name="org.apache.ibatis.logging.commons.JakartaCommonsLoggingImpl" additivity="true">
            <level>DEBUG</level>
        </logger>
    </Loggers>

</Configuration>