<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.CoinInfoMapper">
  <resultMap id="BaseResultMap" type="com.zh.entity.CoinInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coin_id" jdbcType="INTEGER" property="coinId" />
    <result column="team_info" jdbcType="VARCHAR" property="teamInfo" />
    <result column="github" jdbcType="VARCHAR" property="github" />
    <result column="reddit" jdbcType="VARCHAR" property="reddit" />
    <result column="twitter" jdbcType="VARCHAR" property="twitter" />
    <result column="facebook" jdbcType="VARCHAR" property="facebook" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="white_paper" jdbcType="VARCHAR" property="whitePaper" />
    <result column="explorer" jdbcType="VARCHAR" property="explorer" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="info" jdbcType="LONGVARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coin_id, team_info, github, reddit, twitter, facebook, website, white_paper, 
    explorer, createTime, updateTime, info
  </sql>
  <insert id="insert" parameterType="com.zh.entity.CoinInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coin_info (coin_id, team_info, github, 
      reddit, twitter, facebook, 
      website, white_paper, explorer, 
      createTime, updateTime, info
      )
    values (#{coinId,jdbcType=INTEGER}, #{teamInfo,jdbcType=VARCHAR}, #{github,jdbcType=VARCHAR}, 
      #{reddit,jdbcType=VARCHAR}, #{twitter,jdbcType=VARCHAR}, #{facebook,jdbcType=VARCHAR}, 
      #{website,jdbcType=VARCHAR}, #{whitePaper,jdbcType=VARCHAR}, #{explorer,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{info,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zh.entity.CoinInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coin_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coinId != null">
        coin_id,
      </if>
      <if test="teamInfo != null">
        team_info,
      </if>
      <if test="github != null">
        github,
      </if>
      <if test="reddit != null">
        reddit,
      </if>
      <if test="twitter != null">
        twitter,
      </if>
      <if test="facebook != null">
        facebook,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="whitePaper != null">
        white_paper,
      </if>
      <if test="explorer != null">
        explorer,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coinId != null">
        #{coinId,jdbcType=INTEGER},
      </if>
      <if test="teamInfo != null">
        #{teamInfo,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        #{github,jdbcType=VARCHAR},
      </if>
      <if test="reddit != null">
        #{reddit,jdbcType=VARCHAR},
      </if>
      <if test="twitter != null">
        #{twitter,jdbcType=VARCHAR},
      </if>
      <if test="facebook != null">
        #{facebook,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="whitePaper != null">
        #{whitePaper,jdbcType=VARCHAR},
      </if>
      <if test="explorer != null">
        #{explorer,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.entity.CoinInfo">
    update coin_info
    set coin_id = #{coinId,jdbcType=INTEGER},
      team_info = #{teamInfo,jdbcType=VARCHAR},
      github = #{github,jdbcType=VARCHAR},
      reddit = #{reddit,jdbcType=VARCHAR},
      twitter = #{twitter,jdbcType=VARCHAR},
      facebook = #{facebook,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      white_paper = #{whitePaper,jdbcType=VARCHAR},
      explorer = #{explorer,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.entity.CoinInfo">
    update coin_info
    <set>
      <if test="coinId != null">
        coin_id = #{coinId,jdbcType=INTEGER},
      </if>
      <if test="teamInfo != null">
        team_info = #{teamInfo,jdbcType=VARCHAR},
      </if>
      <if test="github != null">
        github = #{github,jdbcType=VARCHAR},
      </if>
      <if test="reddit != null">
        reddit = #{reddit,jdbcType=VARCHAR},
      </if>
      <if test="twitter != null">
        twitter = #{twitter,jdbcType=VARCHAR},
      </if>
      <if test="facebook != null">
        facebook = #{facebook,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="whitePaper != null">
        white_paper = #{whitePaper,jdbcType=VARCHAR},
      </if>
      <if test="explorer != null">
        explorer = #{explorer,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coin_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coin_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coin_info
    where 1=1 
    <if test="coinId != null">
       and  coin_id = #{coinId,jdbcType=INTEGER}
    </if>
    <if test="teamInfo != null">
       and  team_info = #{teamInfo,jdbcType=VARCHAR}
    </if>
    <if test="github != null">
       and  github = #{github,jdbcType=VARCHAR}
    </if>
    <if test="reddit != null">
       and  reddit = #{reddit,jdbcType=VARCHAR}
    </if>
    <if test="twitter != null">
       and  twitter = #{twitter,jdbcType=VARCHAR}
    </if>
    <if test="facebook != null">
       and  facebook = #{facebook,jdbcType=VARCHAR}
    </if>
    <if test="website != null">
       and  website = #{website,jdbcType=VARCHAR}
    </if>
    <if test="whitePaper != null">
       and  white_paper = #{whitePaper,jdbcType=VARCHAR}
    </if>
    <if test="explorer != null">
       and  explorer = #{explorer,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
       and  createTime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="info != null">
       and  info = #{info,jdbcType=LONGVARCHAR}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coin_info
    where 1=1 
    <if test="coinId != null">
       and  coin_id = #{coinId,jdbcType=INTEGER}
    </if>
    <if test="teamInfo != null">
       and  team_info = #{teamInfo,jdbcType=VARCHAR}
    </if>
    <if test="github != null">
       and  github = #{github,jdbcType=VARCHAR}
    </if>
    <if test="reddit != null">
       and  reddit = #{reddit,jdbcType=VARCHAR}
    </if>
    <if test="twitter != null">
       and  twitter = #{twitter,jdbcType=VARCHAR}
    </if>
    <if test="facebook != null">
       and  facebook = #{facebook,jdbcType=VARCHAR}
    </if>
    <if test="website != null">
       and  website = #{website,jdbcType=VARCHAR}
    </if>
    <if test="whitePaper != null">
       and  white_paper = #{whitePaper,jdbcType=VARCHAR}
    </if>
    <if test="explorer != null">
       and  explorer = #{explorer,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
       and  createTime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="info != null">
       and  info = #{info,jdbcType=LONGVARCHAR}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from coin_info ci LEFT JOIN coin_manager cm ON ci.`coin_id`=cm.`id`
    where 1=1
    <if test="symbol != null and symbol != ''">
      and  symbol like '%' #{symbol,jdbcType=VARCHAR} '%'
    </if>
    <if test="coinId != null">
       and  coin_id = #{coinId,jdbcType=INTEGER}
    </if>
    <if test="teamInfo != null">
       and  team_info = #{teamInfo,jdbcType=VARCHAR}
    </if>
    <if test="github != null">
       and  github = #{github,jdbcType=VARCHAR}
    </if>
    <if test="reddit != null">
       and  reddit = #{reddit,jdbcType=VARCHAR}
    </if>
    <if test="twitter != null">
       and  twitter = #{twitter,jdbcType=VARCHAR}
    </if>
    <if test="facebook != null">
       and  facebook = #{facebook,jdbcType=VARCHAR}
    </if>
    <if test="website != null">
       and  website = #{website,jdbcType=VARCHAR}
    </if>
    <if test="whitePaper != null">
       and  white_paper = #{whitePaper,jdbcType=VARCHAR}
    </if>
    <if test="explorer != null">
       and  explorer = #{explorer,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
       and  createTime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="info != null">
       and  info = #{info,jdbcType=LONGVARCHAR}
    </if>
  </select>
  <select id="selectInfoPaging" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT ci.id,cm.symbol,ci.info,ci.team_info,ci.github,ci.reddit,ci.twitter,ci.facebook,ci.website,ci.white_paper,ci.explorer,ci.createTime
    FROM coin_info ci LEFT JOIN coin_manager cm ON ci.`coin_id`=cm.`id`
    where 1=1
    <if test="symbol != null and symbol != ''">
      and  symbol like '%' #{symbol,jdbcType=VARCHAR} '%'
    </if>
    order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
</mapper>