<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zh.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="userPassword" jdbcType="CHAR" property="userpassword" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="referenceId" jdbcType="INTEGER" property="referenceid" />
    <result column="idCard" jdbcType="CHAR" property="idcard" />
    <result column="idStatus" jdbcType="TINYINT" property="idstatus" />
    <result column="headPath" jdbcType="VARCHAR" property="headpath" />
    <result column="secretKey" jdbcType="CHAR" property="secretkey" />
    <result column="token" jdbcType="CHAR" property="token" />
    <result column="tokenCreateTime" jdbcType="TIMESTAMP" property="tokencreatetime" />
    <result column="orderPwd" jdbcType="CHAR" property="orderpwd" />
    <result column="loginTime" jdbcType="TIMESTAMP" property="logintime" />
    <result column="device_info" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="device_type" jdbcType="INTEGER" property="deviceType" />
    <result column="device_os" jdbcType="VARCHAR" property="deviceOs" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, userPassword, userName, referenceId, idCard, idStatus, headPath, secretKey, 
    token, tokenCreateTime, orderPwd, loginTime, device_info, device_type, device_os, 
    state, createTime, updateTime
  </sql>
  <insert id="insert" parameterType="com.zh.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (phone, userPassword, userName, 
      referenceId, idCard, idStatus, 
      headPath, secretKey, token, 
      tokenCreateTime, orderPwd, loginTime, 
      device_info, device_type, device_os, 
      state, createTime, updateTime
      )
    values (#{phone,jdbcType=CHAR}, #{userpassword,jdbcType=CHAR}, #{username,jdbcType=VARCHAR}, 
      #{referenceid,jdbcType=INTEGER}, #{idcard,jdbcType=CHAR}, #{idstatus,jdbcType=TINYINT}, 
      #{headpath,jdbcType=VARCHAR}, #{secretkey,jdbcType=CHAR}, #{token,jdbcType=CHAR}, 
      #{tokencreatetime,jdbcType=TIMESTAMP}, #{orderpwd,jdbcType=CHAR}, #{logintime,jdbcType=TIMESTAMP}, 
      #{deviceInfo,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{deviceOs,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zh.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="userpassword != null">
        userPassword,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="referenceid != null">
        referenceId,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="idstatus != null">
        idStatus,
      </if>
      <if test="headpath != null">
        headPath,
      </if>
      <if test="secretkey != null">
        secretKey,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="tokencreatetime != null">
        tokenCreateTime,
      </if>
      <if test="orderpwd != null">
        orderPwd,
      </if>
      <if test="logintime != null">
        loginTime,
      </if>
      <if test="deviceInfo != null">
        device_info,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="deviceOs != null">
        device_os,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="referenceid != null">
        #{referenceid,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="idstatus != null">
        #{idstatus,jdbcType=TINYINT},
      </if>
      <if test="headpath != null">
        #{headpath,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null">
        #{secretkey,jdbcType=CHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=CHAR},
      </if>
      <if test="tokencreatetime != null">
        #{tokencreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderpwd != null">
        #{orderpwd,jdbcType=CHAR},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceInfo != null">
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceOs != null">
        #{deviceOs,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.entity.User">
    update user
    set phone = #{phone,jdbcType=CHAR},
      userPassword = #{userpassword,jdbcType=CHAR},
      userName = #{username,jdbcType=VARCHAR},
      referenceId = #{referenceid,jdbcType=INTEGER},
      idCard = #{idcard,jdbcType=CHAR},
      idStatus = #{idstatus,jdbcType=TINYINT},
      headPath = #{headpath,jdbcType=VARCHAR},
      secretKey = #{secretkey,jdbcType=CHAR},
      token = #{token,jdbcType=CHAR},
      tokenCreateTime = #{tokencreatetime,jdbcType=TIMESTAMP},
      orderPwd = #{orderpwd,jdbcType=CHAR},
      loginTime = #{logintime,jdbcType=TIMESTAMP},
      device_info = #{deviceInfo,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=INTEGER},
      device_os = #{deviceOs,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.entity.User">
    update user
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="userpassword != null">
        userPassword = #{userpassword,jdbcType=CHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="referenceid != null">
        referenceId = #{referenceid,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="idstatus != null">
        idStatus = #{idstatus,jdbcType=TINYINT},
      </if>
      <if test="headpath != null">
        headPath = #{headpath,jdbcType=VARCHAR},
      </if>
      <if test="secretkey != null">
        secretKey = #{secretkey,jdbcType=CHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=CHAR},
      </if>
      <if test="tokencreatetime != null">
        tokenCreateTime = #{tokencreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderpwd != null">
        orderPwd = #{orderpwd,jdbcType=CHAR},
      </if>
      <if test="logintime != null">
        loginTime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceInfo != null">
        device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="deviceOs != null">
        device_os = #{deviceOs,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where 1=1 
    <if test="phone != null">
       and  phone = #{phone,jdbcType=CHAR}
    </if>
    <if test="userpassword != null">
       and  userPassword = #{userpassword,jdbcType=CHAR}
    </if>
    <if test="username != null">
       and  userName = #{username,jdbcType=VARCHAR}
    </if>
    <if test="referenceid != null">
       and  referenceId = #{referenceid,jdbcType=INTEGER}
    </if>
    <if test="idcard != null">
       and  idCard = #{idcard,jdbcType=CHAR}
    </if>
    <if test="idstatus != null">
       and  idStatus = #{idstatus,jdbcType=TINYINT}
    </if>
    <if test="headpath != null">
       and  headPath = #{headpath,jdbcType=VARCHAR}
    </if>
    <if test="secretkey != null">
       and  secretKey = #{secretkey,jdbcType=CHAR}
    </if>
    <if test="token != null">
       and  token = #{token,jdbcType=CHAR}
    </if>
    <if test="tokencreatetime != null">
       and  tokenCreateTime = #{tokencreatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderpwd != null">
       and  orderPwd = #{orderpwd,jdbcType=CHAR}
    </if>
    <if test="logintime != null">
       and  loginTime = #{logintime,jdbcType=TIMESTAMP}
    </if>
    <if test="deviceInfo != null">
       and  device_info = #{deviceInfo,jdbcType=VARCHAR}
    </if>
    <if test="deviceType != null">
       and  device_type = #{deviceType,jdbcType=INTEGER}
    </if>
    <if test="deviceOs != null">
       and  device_os = #{deviceOs,jdbcType=VARCHAR}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="createtime != null">
       and  createTime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where 1=1 
    <if test="phone != null">
       and  phone = #{phone,jdbcType=CHAR}
    </if>
    <if test="userpassword != null">
       and  userPassword = #{userpassword,jdbcType=CHAR}
    </if>
    <if test="username != null">
       and  userName = #{username,jdbcType=VARCHAR}
    </if>
    <if test="referenceid != null">
       and  referenceId = #{referenceid,jdbcType=INTEGER}
    </if>
    <if test="idcard != null">
       and  idCard = #{idcard,jdbcType=CHAR}
    </if>
    <if test="idstatus != null">
       and  idStatus = #{idstatus,jdbcType=TINYINT}
    </if>
    <if test="headpath != null">
       and  headPath = #{headpath,jdbcType=VARCHAR}
    </if>
    <if test="secretkey != null">
       and  secretKey = #{secretkey,jdbcType=CHAR}
    </if>
    <if test="token != null">
       and  token = #{token,jdbcType=CHAR}
    </if>
    <if test="tokencreatetime != null">
       and  tokenCreateTime = #{tokencreatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderpwd != null">
       and  orderPwd = #{orderpwd,jdbcType=CHAR}
    </if>
    <if test="logintime != null">
       and  loginTime = #{logintime,jdbcType=TIMESTAMP}
    </if>
    <if test="deviceInfo != null">
       and  device_info = #{deviceInfo,jdbcType=VARCHAR}
    </if>
    <if test="deviceType != null">
       and  device_type = #{deviceType,jdbcType=INTEGER}
    </if>
    <if test="deviceOs != null">
       and  device_os = #{deviceOs,jdbcType=VARCHAR}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="createtime != null">
       and  createTime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from user 
    where 1=1 
    <if test="phone != null">
       and  phone = #{phone,jdbcType=CHAR}
    </if>
    <if test="userpassword != null">
       and  userPassword = #{userpassword,jdbcType=CHAR}
    </if>
    <if test="username != null">
       and  userName = #{username,jdbcType=VARCHAR}
    </if>
    <if test="referenceid != null">
       and  referenceId = #{referenceid,jdbcType=INTEGER}
    </if>
    <if test="idcard != null">
       and  idCard = #{idcard,jdbcType=CHAR}
    </if>
    <if test="idstatus != null">
       and  idStatus = #{idstatus,jdbcType=TINYINT}
    </if>
    <if test="headpath != null">
       and  headPath = #{headpath,jdbcType=VARCHAR}
    </if>
    <if test="secretkey != null">
       and  secretKey = #{secretkey,jdbcType=CHAR}
    </if>
    <if test="token != null">
       and  token = #{token,jdbcType=CHAR}
    </if>
    <if test="tokencreatetime != null">
       and  tokenCreateTime = #{tokencreatetime,jdbcType=TIMESTAMP}
    </if>
    <if test="orderpwd != null">
       and  orderPwd = #{orderpwd,jdbcType=CHAR}
    </if>
    <if test="logintime != null">
       and  loginTime = #{logintime,jdbcType=TIMESTAMP}
    </if>
    <if test="deviceInfo != null">
       and  device_info = #{deviceInfo,jdbcType=VARCHAR}
    </if>
    <if test="deviceType != null">
       and  device_type = #{deviceType,jdbcType=INTEGER}
    </if>
    <if test="deviceOs != null">
       and  device_os = #{deviceOs,jdbcType=VARCHAR}
    </if>
    <if test="state != null">
       and  state = #{state,jdbcType=TINYINT}
    </if>
    <if test="createtime != null">
       and  createTime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatetime != null">
       and  updateTime = #{updatetime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>